.abaut__list {

    margin: 0;
    display: flex;
    list-style: none;
}

.abaut__icons:not(:last-child) {
    margin-right: 30px;
}

.abaut__icons {
    margin-bottom: 30px;
    width: 270px;
    height: 120px;

    justify-content: center;
    display: inline-flex;
    align-items: center;
    background: #F5F4FA;
    border-radius: 4px;
}

.about__icon {
    width: 70px;
    height: 70px;
}

.about__title-next {
    display: inline-block;
    margin-bottom: 10px;


    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-color)
}

.about__text {
    display: inline-block;

    margin: bottom 10px;

    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color)
}